# Change alla this!!!!

# Database
POSTGRES_PASSWORD="password"
POSTGRES_USER="user"
POSTGRES_DB="database"
POSTGRES_HOST="localhost"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="secret (shh)"

# Discord
DISCORD_CLIENT_ID="id"
DISCORD_CLIENT_SECRET="secret"
